* {
    box-sizing: border-box;
}
html 

body {
    max-width: 100%;
    max-height: 100%;
    font-family: 'Rubik', sans-serif;
    background-color: black;
}
/* #container-monomito {
    flex-wrap: wrap;
} */

.producao-img {
    margin-top: 10px;
}

.texto-somos {
    font-size: 15px;
    color: #d2fd34;
}

.titulo {
    font-size: 15px;
    color: white;
}
.texto-monomito {
margin-left: 10px;
font-size: 12px;
color: white;
}
.texto-monomito-2 {
    margin-left: 10px;
    font-size: 12px;
    color: white; 
}
.pessoal {
    font-size: 12px;
  
}
.foto-larissa {
    width: 20px;
    height: 20px;
    border-radius: 10px;
}
.texto-larissa {
margin-left: 10px;
color: white;
}
.foto-lincoln {
    width: 20px;
    height: 20px;
    border-radius: 10px;
}
.texto-lincoln {
    margin-left: 10px;
    color: white;
}
.foto-paulo {
    width: 20px;
    height: 20px;
    border-radius: 10px;
}
.texto-paulo {
margin-left: 10px;
color: white;
}