<<<<<<< HEAD
<<<<<<< HEAD
@font-face { 
    font-family: 'AmericanCaptain';
    src: url('./../assest/AmericanCaptain.otf');
    /* src: local('American Captain'), local('American Captain'), url('./assest/AmericanCapitain.tff') format('truetype'); */
 }

*{
    box-sizing: border-box;
    
}
=======

>>>>>>> finalizado




<<<<<<< HEAD
body{
background-color: #000000;

}

.fixo{
   
    height: 90px;
    background-image: linear-gradient(to bottom, black , rgba(0, 0, 0, 0.062));
}

img{
    width: 100%;
    /* opacity: 0.5;
    filter: alpha(opacity=10); */
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 30px;
}

nav img{
width:150px;
z-index: 1;
margin-left: 100px;
margin-top: 50px;


}

.nav-item{
    margin: 0 5px;
    
}


.menu-responsivo{
    width: 100vw;
}

.navegacao{

     font-family: 'AmericanCaptain';
    font-size: 24px;
}

hr{
    
      background-color:#d2fd34;
      width:45px;
      height: 5px;
      margin-top: 0;
}

.traco{
    opacity: 0;
    transform: scale(1,3);
    transition: 0.5s all;
}

.nav-item:hover .traco{
    opacity: 1;
    transform: scale(1);
    transition:0,5s all;
}

.menu{
    background-color:white;
    z-index: 1;
}


header {
    position: relative;
    background-color: black;
    height: 90vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;

}
=======



















>>>>>>> finalizado





<<<<<<< HEAD
@media(min-width:1024px){

    .menu-responsivo{
        background-color: transparent;
        width: auto;
    }
}
=======

>>>>>>> finalizado




<<<<<<< HEAD

@media (max-width: 991px){


    .menu-responsivo{
        background-color: black;
       position: absolute;
       width: 100%;
       top: 80px;
    }

    nav img{
        width:130px;
        z-index: 1;
        margin-left: 1px;
        margin-top: 2px;
        
    }

        .menu{
            
            background-color:white;
            margin-top: -10px;
           

           
           
        }

        .fixo{
   
            height: 80px;
            background-color: black;
            position: relative;
        }
    
}


@media (max-width: 425px){


    .menu-responsivo{
        background-color: black;
        width: 100vw;
    }

    nav img{
       
        width:90px;
        z-index: 1;
        margin-left: 1px;
        margin-top: 2px;
        
    }

        .menu{
            
            width: 20px;
            height: 20px;
            background-color:white;
           
           

           
           
        }

        .fixo{
   
            height: 90px;
            background-color: black;
        }
    
}

@media (max-width: 375px){

    .menu-responsivo{
        background-color: black;
        width: 100vw;
    }

    nav img{
       
        width:80px;
        z-index: 1;
        margin-left: 1px;
        margin-top: 2px;
        
    }

        .menu{
            
            width: 20px;
            height: 20px;
            background-color:white;
            margin-top: -10px;
          
        }

        .fixo{
   
            height: 90px;
            background-color: black;
        }
    
}

@media (max-width: 320px){

    .menu-responsivo{
        background-color: black;
        width: 100vw;
    }

    nav img{
       
        width:70px;
        z-index: 1;
        margin-right: 1 rem;
        margin-top: 2px;
        
    }

        .menu{
            
            width: 20px;
            height: 20px;
            background-color:white;
        }

        .fixo{
   
            height: 90px;
            background-color: black;
        }

        .navegacao{

            font-family: 'AmericanCaptain';
           font-size: 18px;
       }
    
}



=======
=======

































































































































































































































>>>>>>> finalizado
*{
    box-sizing: border-box;
}

body {
    width: 100%;
    font-size: 10px;
}

#contato{
    width: 100%;
    background-color: black;
    font-size:20px;
}

#icones{
    width: 100%;
}

#footer{
    background-color: black;
    padding: 10px;
    font-size: 10px;
}

#texto {
   color:#d2fd34; 
   font-size: 10px;
}

#facebook{
 align-items: center;
}
.fb {
    width: 15px;
    height: 15px;
}

#instagram{
    align-items: center;
   }
.ig {
    width: 17px;
    height: 17px;
}

#youtube{
    align-items: center;
   }
.yt {
    width: 18px;
    height: 18px;
}

@media (min-width: 768px) 
{
    #contato{
        font-size:25px;
    }
    
    #footer{
        background-color: black;
        padding: 30px;
        font-size: 12px;
    }
    
    #texto {
       color:#d2fd34; 
       font-size: 15px;
    }
    
    #facebook{
     align-items: center;
    }
    .fb {
        width: 27px;
        height: 27px;
    }
    
    #instagram{
        align-items: center;
       }
    .ig {
        width: 30px;
        height: 30px;
    }
    
    #youtube{
        align-items: center;
       }
    .yt {
        width: 34px;
        height: 34px;
    }
}

@media (min-width: 1024px) 
{
    #contato{
        font-size:30px;
        padding: 120px;
    }
    
    #footer{
        background-color: black;
        padding: 30px;
        font-size: 15px;
    }
    
    #texto {
       color:#d2fd34; 
       padding-left: 280px;
       font-size: 20px;
    }
    
    #facebook{
     align-items: center;
    }
    .fb {
        width: 27px;
        height: 27px;
    }
    
    #instagram{
        align-items: center;
       }
    .ig {
        width: 30px;
        height: 30px;
    }
    
    #youtube{
        align-items: center;
       }
    .yt {
        width: 34px;
        height: 34px;
    }
}
<<<<<<< HEAD
>>>>>>> feito a section contatos e footer. adiconado icones e feito a parte responsiva mobile.
=======


>>>>>>> Alterado tamanhos de textos,icones e feito o media querry.
